
#maincolor{
    background-color: #FACFCC;
    height: 1185px;
    width: 1800px;
    margin-left: 10px;
    border-radius: 20px;
    margin-top: 30px;

}
#sign{
    background-color: black;
    -webkit-text-fill-color: white;
    border-radius: 25px;
    height: 40px;
    width: 100px;
    margin-bottom: 100px;
}

#baims{
    font-family: serif;
    font-weight: 50;
    font-size: xx-large;
    margin-bottom: 55px;
}

#topnav{
    display: flex;
    justify-content: center;
    gap: 180px;
    font-size: 20px;
    margin-top: 15px;
}

#prg{
    display: flex;
    justify-content: center;
    gap: 100px;
}
#Study{
    font-size: 100px;
}

#white{
    background-color: white;
    height: 160px;
    width: 1800px;
    border-radius: 10px;
    margin-top: 200px;
}


#text{
    border: solid;
    /* width: 0px; */
    border-radius: 20px;
    /* padding: 5px;  */
    margin-top: 8px;
    background-color: transparent;
    height: 20px;
    font-size: 15px;
}

#whatdoyouwanttolearn{
    width: 300px;
    height: 40px;
    border-radius: 25px;
    display: flex;
}

#coursewithbaims{
    font-size: 20px;
}

#nums{
   font-size: 70px;
   
}

#course{
    font-size: 20px;
    

}

#photo{
    width: 650px;
    height: 650px;
}

#coo{
    margin-top: 15px;
}

#footer{
   display: flex; 
   justify-content: center;
   gap: 300px;
}

#course{
    font-size: 25px;
}

#instructor{
    font-size: 17px;
}

#signin{
    font-size: 17px;
}

@media screen and (min-width:280px) and (max-width:480px){
    #maincolor{
        background-color: #FACFCC;
        height: 100px;
        width: 100%;
        margin-left: 0px;
        border-radius: 0px;
        height: 100%;
        margin-top: 0px;
    
    }
    #sign{
        background-color: black;
        -webkit-text-fill-color: white;
        border-radius: 25px;
    }
    
    #baims{
        font-family: serif;
        font-size: 15px;
    }
    
    #topnav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: x-large;
        gap: 10px;
        font-size: 10px;
        margin-top: 10px;
    }
    
    #prg{
        display: flex;
        flex-wrap: wrap;
        font-size: larger;
        gap: 10px;
    }
    #Study{
        font-size: 30px;
    }
    
    #white{
        background-color: white;
        height: 160px;
        display: flex;
        font-size: small;
        width: 100%;
        border-radius: 10px;
        margin-top: 200px;
    }
    
    
    #text{
        border: solid;
        width: 50px;
         padding: 15px; 
        margin-top: 8px;
        background-color: transparent;
        height: 4px;
    }
    
    #whatdoyouwanttolearn{
        width: 150px;
        height: 20px;
        border-radius: 25px;
        display: flex;
    }
    
    #coursewithbaims{
        font-size: 17px;
    }
    
    #nums{
       font-size: 20px;
       gap: 10px;
    }
    

    
    #photo{
        width: 150px;
        height: 150px;
    }
    
    #coo{
        margin-top: 15px;
        font-size: 12px;
    }
    
    #footer{
       display: flex; 
       flex-wrap: wrap;
       font-size: xx-small;
       /* justify-content: center; */
       gap: 20px;
    }
    
    #course{
        font-size: 15px;
    }
    
    
}